.comment-form {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  transition: .2s;
  margin-bottom: 34px;
  padding-top: 16px;

  &__actions {
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  &__input {
    font-family: 'Lato';
    line-height: 18px;
    display: flex;
    width: 256px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 10px;
    color:var(--contrast-text);
    background: transparent;
    resize: none;
    transition: 0.4s;
    outline: none;
    font-size: 14px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &.active {
      .comment-form__input {
        background: var(--bg-textarea);
        height: 150px;
        width: 100%;
        border: 1px solid transparent;
        &::placeholder {
          color: transparent;
        }
      }
      .comment-form__actions {
        padding-top: 16px;
        margin-bottom: 52px;
        overflow: unset;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
  &__dropdown {
    width: 250px;
    position: relative;
    padding: 10px;
    background-color: var(--dropdown-hover);
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: transparent;
    }
    &-list {
      background-color:  var(--bg-textarea);
      display: none;
      z-index: 11;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border: 1px solid var(--border-color);
      border-top: none;
    }
    &-item {
      backdrop-filter: invert(2%);
      padding: 10px;
      color: var(--contrast-text);
      position: relative;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: var(--dropdown-hover);

      }
    }
    .info-flyout {
      line-height: 21px;
      display: none;
      white-space: break-spaces;
      padding: 10px;
    }
    .placeholder {
      border: 1px solid var(--border-color);
      border-bottom: none;
      background-color:  var(--bg-textarea);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 10px;
      z-index: 10;
      display: none;
    }
    .info {
      float: right;
      opacity: .5;
      transition: opacity .2s ease-in-out;
      &:hover {
        opacity: 1;
        & + .info-flyout {
          display: block;
        }
      }
    }
    &.active {
      .comment-form__dropdown-list {
        display: block;
      }
      .placeholder {
        display: block;
      }
    }
  }
}
