.comments-section {
  position: relative;
  color: var(--contrast-text);
}
.comment {
  color: var(--text);
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
  &.hidden {
    display: none;
  }
  .bullet {
    background-color: var(--grey-text);
    border-radius: 50%;
    width: 3px;
    height: 3px;
    margin: 0 5px;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: var(--grey-text);
  }
  &__body {
    padding: 4px 0;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 700;
  }
  &__rank {
    margin-left: 5px;
  }
  &__actions {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 21px;
    gap: 3px;
    .link {
      cursor: pointer;
    }
  }
  .spoiler {
    color: $red;
  }
  .keyword-tag {
    line-height: 14px;
    margin: 0;
    padding: 1px 6px;
    margin-left: 5px;
    &.issue {
      background-color: $red;
    }
    &.question {
      border: 1px solid var(--contrast-text);
      background-color: transparent;
    }
    &.suggestion {
      background-color: var(--border-color);
    }
  }
}
.voter {
  display: flex;
  align-items: center;
  &.disabled {
    pointer-events: none;
  }
}
