@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.woff2') format("woff2"),
  url('./assets/fonts/Lato-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bold.woff2') format("woff2"),
  url('./assets/fonts/Lato-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'InputSans';
  src: url('./assets/fonts/InputSans.woff2') format("woff2"),
  url('./assets/fonts/InputSans.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InputSans';
  src: url('./assets/fonts/InputSans-Light.woff') format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CamingoCode';
  src: url('./assets/fonts/CamingoCode.woff2') format("woff2"),
  url('./assets/fonts/CamingoCode.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icomoon';
  src: url('./assets/fonts/Icomoon.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
}
