$bg-color: #16171b;
$light: #efefef;
$blue: #6795de;
$light-blue: #7ca4e3;
$blue-hover: #91b2e7;
$dark: #131414;
$section: #222327;
$success: #5f8120;
$dark-hover: #0b0707;
$scroll: #404040;
$grey: #c0c0c0;
$yellow: #ecb613;
$sidebar-bg: #121216;
$purple: #866cc7;
$rank-blue: #1f87e7;
$rank-white: #e6e6e6;

$input-bdr: #6c6c74;
$input-bg: #1a1a1e;
$input-text: #b6b6be;
$filters-accent: #27bafd;
